/// Configures a custom assets path. Defaults to the preset assets folder
$path-assets: "../../assets";

/// Configures a custom fonts path. Defaults to the preset $assets/fonts folder
$path-fonts: "#{$path-assets}/fonts";

/// Configures a custom assets path. Defaults to the preset $assets/fonts folder
$path-images:"#{$path-assets}/images";

